{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <div id="c" name="content">
        <div class="wrapper">
            <div id="introduction">
                <h1 id="name-header">International Badger Bonds</h1>
                
            </div>
            
            <div class="mentor">
                <img src="{% static 'home/images/oj.jpg' %}" alt="Ojasvini Sharma">
                <div class="text">
                    <center><h3>Ojasvini Sharma</h3></center>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="mentor">
                <img src="{% static 'home/images/HVSR.jpg' %}" alt="Harshvardhan Singh Rathore">
                <div class="text">
                    <center><h3>Harshvardhan Singh Rathore</h3></center>
                    <p>From:  New Delhi, India<br>Major(s): Maths and Statistics<br>Passionate traveler and tech enthusiast, I blend my love for exploring new cultures with a career in software development, always seeking new horizons both personally and professionally.</p>
                </div>
            </div>
            
        </div>
    </div>  
{% endblock %}