{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <div id="c" name="content">
        <div class="wrapper">
            <div id="introduction">
                <div>
                    <h1 class="name-header">International Badger Bonds</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <img src="{% static 'home/images/logo-no-text.png' %}" class="logo" alt="Logo">
            </div>
            <h2 class="name-header">Meet Our Mentors</h4>
            <div class="mentor">
                <img src="{% static 'home/images/oj.jpg' %}" alt="Ojasvini Sharma">
                <div class="text">
                    <center><h3>Ojasvini Sharma</h3></center>
                    <p>Hey, I'm Ojasvini Sharma. I'm a sophomore majoring in Statistics and Economics. I'm the co-founder and president of International Badger Bonds. I'm passionate about fostering a closely-knit and supportive community of Indian International students. As a February Pisces, I love talking to people, running along lake Mendota, watercolor painting, and just about anything creative!</p>
                </div>
            </div>
            
            <div class="mentor">
                <img src="{% static 'home/images/HVSR.jpg' %}" alt="Harshvardhan Singh Rathore">
                <div class="text">
                    <center><h3>Harshvardhan Singh Rathore</h3></center>
                    <p>From:  New Delhi, India<br>Major(s): Maths and Statistics<br>Passionate traveler and tech enthusiast, I blend my love for exploring new cultures with a career in software development, always seeking new horizons both personally and professionally.</p>
                </div>
            </div>

            <div class="mentor">
                <img src="{% static 'home/images/shash.jpg' %}" alt="Shashandra Suresh">
                <div class="text">
                    <center><h3>Shashandra Suresh</h3></center>
                    <p>Hey! I'm Shashandra, the co-founder and mentorship coordinator of International Badger Bonds. I'm a Biomedical Engineering major, and I live in Solihull in the United Kingdom (a town near Birmingham!). I love anything to do with music and I also play the piano.</p>
                </div>
            </div>

            <div class="mentor">
                <img src="{% static 'home/images/ruthika.jpg' %}" alt="Ruthika Ajit">
                <div class="text">
                    <center><h3>Ruthika Ajit</h3></center>
                    <p>From:  Bangalore, India/Malaysia<br>Major(s): Genetics and Genomics<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="mentor">
                <img src="{% static 'home/images/anubhav.jpg' %}" alt="Anubhav Choudhery">
                <div class="text">
                    <center><h3>Anubhav Choudhery</h3></center>
                    <p>Hey, I'm Anubhav and I'm a rising sophomore majoring in Computer Engineering with interest in circuitry and Machine Learning. I'm from Delhi, India and I love to play chess and watch movies in my free time.</p>
                </div>
            </div>

            <div class="mentor">
                <img src="{% static 'home/images/mathom.jpg' %}" alt="Mathom Johnson">
                <div class="text">
                    <center><h3>Mathom Johnson</h3></center>
                    <p>Hi! My name is Mathom and I was born and raised in Wisconsin. I am a sophomore studying computer science at UW-Madison. In my free time I love to spend time on the water whether it's paddle boarding or swimming. I'm happy to answer any questions you might have from scheduling classes to Wisconsin weather!</p>
                </div>
            </div>
            
        </div>
    </div>  
{% endblock %}