{% extends 'home/base.html' %}
{% load static %}
{% block title %}Forum{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'forum/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<!-- <center>
    <button id="show-form-btn" class="btn btn-primary" onclick="showForm()">Ask a Question</button>
</center>

<div class="question-form-wrapper">
<div class="question-form" style="display:none;">
    <form id="question-form" method="post" action="/forum/submit-question/">
        {% csrf_token %}
        <p style="color:black;">Title:</p>
        <input type="text" id="question-title" name="title" required style="margin:0px; padding:0px;"><br>
        <p style="color:black;">Question:</p>
        <textarea id="question-body" name="body" rows="4" required style="margin:0px; padding:0px;"></textarea><br>
        <button type="submit" class="btn btn-success" style="margin:0px; padding:0px;">Submit</button>
    </form>
</div>
</div>
{% for q in questions %}
    <div class="question">
        <div class="question-header">
            <p class="author">{{ q.author }}</p>
            <p class="title"><b>{{ q.title }}</b></p>
        </div>
        <p>{{ q.body }}</p>
        <button class="btn btn-danger" onclick="viewReplies()">View Replies</button>
        <button class="btn btn-danger" onclick="comment(this)">Reply</button>
        <div class="create-comment" style="display:none;">
            <form class="new-comment" method="post" action="/forum/new-comment/">
                {% csrf_token %}
                <textarea class="comment-body" name="body" rows="1" required></textarea>
                <input type="hidden" value="{{ q.id }}" name="question">
                <button class="btn btn-success" type="submit">Send</button>
            </form>
        </div>
    </div> 
{% endfor %}-->
<center>
    <button id="show-form-btn" class="btn btn-primary" onclick="showForm()">Ask a Question</button>
</center>
<div class="question-form-wrapper">
    <div class="question-form" style="display:none;">
        <form id="question-form" method="post" action="/forum/submit-question/">
            {% csrf_token %}
            <p>Title:</p>
            <input type="text" id="question-title" name="title" required>
            <p>Question:</p>
            <textarea id="question-body" name="body" rows="4" required></textarea>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

{% for q in questions %}
<div class="question">
    <div class="question-header">
        <div class="info">
            <p class="author">{{ q.author }}</p>
            <p class="time">{{ q.created_at }}</p>
        </div>
        <p class="title">{{ q.title }}</p>
    </div>
    <p class="body">{{ q.body }}</p>
    <button class="btn btn-danger" onclick="viewReplies()">View Replies</button>
    <button class="btn btn-danger" onclick="comment(this)">Reply</button>
    <div class="create-comment" style="display:none;">
        <form class="new-comment" method="post" action="/forum/new-comment/">
            {% csrf_token %}
            <textarea class="comment-body" name="body" rows="1" required></textarea>
            <input type="hidden" value="{{ q.id }}" name="question">
            <button class="btn btn-success" type="submit">Send</button>
        </form>
    </div>
</div>
{% endfor %}
<script>
    var display = 0;
    function showForm() {
        if (display == 0) {
            document.querySelector('.question-form').style.display = 'block';
            display = 1;
        }
        else {
            document.querySelector('.question-form').style.display = 'none';
            display = 0;
        }
        
    }

    function comment(button) {
        const commentForm = button.nextElementSibling;
        commentForm.style.display = commentForm.style.display === 'block' ? 'none' : 'block';
    }
</script>
{% endblock %}