.question {
    display: flex;
    width:50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #e1d7cb;
    box-shadow: 10px 10px 7px black;
    margin:40px auto;
    padding:12px;
}
.question p {
    color:black;
}

#show-form-btn {
    margin: 50px;
    margin-bottom: 0px;
}

.question-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; /* Adjust width as needed */
    border: 1px solid black;
    background-color: #e1d7cb;
    padding: 10px;
    margin-top: 20px;
    /*box-sizing: border-box; /* Include padding in width calculation */
}

#question-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding: 0px;
}

#question-form p,
#question-form input,
#question-form textarea,
#question-form button {
    margin: 0px 0; /* Small vertical margin */
    padding: 0px; /* Small padding */
    width: 95%; /* Full width of the form */
}